
.gitignore

.DS_Store

MessagesDemo.xcodeproj/project.xcworkspace/xcuserdata/alattis.xcuserdatad/UserInterfaceState.xcuserstate

MessagesDemo.xcodeproj/xcuserdata/alattis.xcuserdatad/xcschemes/MessagesDemo.xcscheme

MessagesDemo.xcodeproj/xcuserdata/alattis.xcuserdatad/xcschemes/xcschememanagement.plist
